flask_migrate
Flask-Cors==3.0.8
Flask-Marshmallow==0.10.1
Flask-SQLAlchemy==2.4.0
Flask==1.1.1
gunicorn==20.0.4
marshmallow_enum
marshmallow-sqlalchemy
pytest
python-dateutil
requests==2.22.0
SQLAlchemy==1.3.4
Werkzeug==0.16.0

black
flake8
isort
